*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    cursor: default;
    
}

body{
    background: #f8f8f8;
}

#titulo {
    text-align: center;
    color: #2d3436;
    margin: 20px;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#jogador {
    background-color: #ff7675;
}

#computador {
   background-color: #74b9ff;
}


#jogador,
#computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    width:  200px;
    
}

#versus {
    width: 200px;
    text-align: center;
    font-size: 72px;
    font-weight: 300;
    
}

#jogador-escolha,
#computador-escolha {
    list-style: none;
    margin: 0;
    padding: 0;   
    text-align: center;
}

#jogador-escolha li,
#computador-escolha li {
    display: inline;
    padding: 0 15px;
    
}

#jogador-escolha a,
#computador-escolha a {
    opacity: .2;
    padding: 5px;
}

#jogador-escolha a:hover,
#jogador-escolha a.selecionado,
#computador-escolha a.selecionado {
    opacity: 1;
}

#jogador-escolha img,
#computador-escolha img {
    max-width: 80px;
}


#jogador h2,
#computador h2 {
    margin: 0;
    padding: 0;
}

#jogador-nome,
#computador-nome {
    font-size: 24px;
}

#jogador-pontos,
#computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 52px;
   
}

#jogador-pontos {
    right: 20px;
}

#computador-nome {
    text-align: right;
}

#mensagem {
   background-color: #636e72;
   border-radius: 5px;
   font-size: 24px;
   text-align: center;
   margin: 20px 0;
   padding: 20px;
   color: #fff;
}